* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(248, 163, 177);
}

.open-btn {
    /* display: none; */
    position: fixed;
    border: none;
    background: transparent;
    transition: opacity 1s;
    z-index: 1;
}

.open-letter {
    opacity: 0;
    transition: opacity 1s;
}

.note {
    
    position: fixed;
    width: 140px;
    height: 150px;
    background: white;
    opacity: 0;
    transition: opacity 1s, transform 1s;
    z-index: -1;
    
}

.note div {
    width: fit-content;
    height: 100%;
}

.note p {
    padding: 2px;
    font-size: 5px;
    opacity: 0;
    transition: opacity 1s;
}

.dissapear {
    opacity: 0;
}

.appear {
    opacity: 1;
}

@keyframes moveNote {
    0% {
    }

    25% {
        transform: translate(0px, -200px);
    }

    50% {
        transform: translate(0px, 200px);
    }

    100% {
        transform: scale(2)
    }
}
